.card {
	cursor: pointer;
	background-color: hsla(273, 56%, 50%, 1);
	border: 1px solid hsla(45, 84%, 75%, 1);
	border-radius: 5px;
	padding: 1rem;
	height: 100%;
	min-width: 232px;
}

.cardTitle {
	text-transform: capitalize;
}

.cardContent {
	margin: 0.5rem;
}

.times {
	margin: 0.2rem;
	display: grid;
	grid-template-columns: repeat(2, auto);
	
}

