.caveats {
	padding: 1rem;
	max-width: 80%;
}
.caveats > ul,
.caveats > ul > li {
	padding: 0.5rem;
}

.caveats > h3 {
	margin: 0.5rem 0;
}

.contactLink {
	color: hsla(45, 84%, 75%, 1);
	text-decoration: none;
	font-weight: 600;
}

.contactLink:hover {
	color: hsla(45, 84%, 65%, 1);
}
.contactLink:active {
	color: hsla(45, 84%, 55%, 1);
}
.caveats,
.form {
	background-color: hsla(273, 56%, 50%, 1);
	border: 1px solid hsla(45, 84%, 75%, 1);
	margin: 2rem auto;
	border-radius: 5px;
}

.age {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.age > input,
.age > label {
	margin: 2px 5px;
}

.age > label {
	font-size: 1 rem;
}

.age > input {
	padding: 0 5px;
}

.form {
	padding: 2rem;
	max-width: 70%;
}

.contact {
	width: 90%;
}

.message {
	height: 20rem;
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	border-radius: 5px;
	background-color: hsla(45, 84%, 75%, 1);
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: 1rem;
}

.input:focus {
	outline: none;
	background-color: hsla(45, 84%, 65%, 1);
}

.form > a {
	display: block;
	margin-top: -10px;
	margin-bottom: 10px;
}

.form > a:hover {
	color: hsla(45, 84%, 65%, 1);
	font-style: italic;
	text-decoration: underline;
}

.form > a:hover::before {
	content: '👉';
}

.submit {
	margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 600;
	max-width: 50%;
}

.submit:hover {
	background-color: hsla(45, 84%, 65%, 1);
	cursor: pointer;
}

.submit:active {
	background-color: hsla(45, 84%, 55%, 1);
	box-shadow: 0 5px hsla(0, 0, 0, 0.5);
	transform: translateY(4px);
}

.alignCheckbox > label {
	font-size: 0.8rem;
}

.checkboxGroup {
	margin-top: -10px;
	margin-bottom: 10px;
}

.alignCheckbox {
		display: flex;
		
}
.checkbox {
	margin-left: auto;
}

.locationButton {
	max-width: 70%;
}


@media screen and (min-width: 768px) {
	.alignCheckbox {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
	}
	.locationButton {
		max-width: 50%;
	}

	.input,
	.submit,
	.label,
	.age > label {
		font-size: 1.2rem;
	}
	.age > input {
		max-width: 50px;
	}
	.time {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}

@media screen and (min-width: 1024px) {
	.caveats {
		max-width: 65%;
	}
	.form {
		max-width: 50%;
	}
}
