:root {
	--text-normal: hsla(45, 94%, 55%, 1);
	--background-start: hsla(265, 43%, 26%, 1);
	--background-end: hsla(263, 46%, 35%, 1);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: hsla(var(--text-normal));
	background: linear-gradient(
		90deg,
		hsla(var(--background-start)) 0%,
		hsla(var(--background-end)) 100%
	);
	letter-spacing: 0.01em;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
