/* mobile first hide navButton and show at screen min-width 1250px */
@media (min-width: 1250px) {
	.navButton {
		display: none;
	}
	.navBar {
		list-style: none;
		padding: 1rem 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		justify-items: flex-end;
	}
	.navItem {
		padding: 0.5rem 1rem;
		background: hsla(45, 94%, 66%, 1);
		color: hsla(265, 80%, 24%, 1);
		font-weight: bold;
		font-size: 1.2rem;
		border-radius: 5px;
		border: 1px solid hsla(45, 94%, 65%, 1);
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
	}
	.navItem > a {
		color: hsla(265, 80%, 24%, 1);
		font-weight: bold;
	}
	.navItem:hover {
		background: hsla(45, 85%, 85%, 1);
		cursor: pointer;
	}
	.navItem:active {
		background-color: hsla(45, 84%, 55%, 1);
		box-shadow: 0 5px hsla(0, 0, 0, 0.5);
		transform: translateY(4px);
	}
}

/* under 1250px */
@media (max-width: 1250px) {
	.navButton {
		display: block;
		background: hsla(45, 94%, 66%, 1);
		padding: 1rem;
		border-radius: 5px;
		margin: 1rem;
		color: hsla(265, 80%, 24%, 1);
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 0.7rem;
		cursor: pointer;
	}
	.navButton:hover {
		background: hsla(45, 94%, 45%, 1);
	}
	.navBar {
		display: none;
	}
	.navItemActive {
		background: hsla(45, 75%, 65%, 1);
		display: block;
		width: 90%;
		margin: 0.5rem 0;
		text-align: center;
		padding: 0.5rem;
		font-size: 1.2rem;
		border-radius: 5px;
		shadow: 2px 2px 20px rgba(0, 0, 0, 1);
	}
	.navBarActive {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-top: 0;
		padding: 1rem 0;
		width: 60vw;
		height: auto;
		margin-bottom: 10vh;
		background: hsla(45, 75%, 55%, 1);
		position: absolute;
		left: 40vw;
		z-index: 1;
		border-radius: 5px;
	}
	.navItemActive > a {
		color: hsla(265, 80%, 24%, 1);
		font-weight: bold;
	}
	.navItemActive:hover {
		background: hsla(45, 85%, 85%, 1);
		cursor: pointer;
	}
	.navItemActive:active {
		background-color: hsla(45, 84%, 55%, 1);
		box-shadow: 0 5px hsla(0, 0, 0, 0.5);
		transform: translateY(4px);
	}
}

/* reduce header font size below 1400px */
@media (max-width: 1400px) {
	.navItem {
		font-size: 1rem;
	}
}
