.head {
	background: #faa;
	width: 100vw;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head > h1 {
	padding: 1rem;
}



/* mobile first hide navButton and show at screen min-width 600px */
@media (min-width: 600px) {
	.navButton {
		display: none;
	}
	.navBar {
		list-style: none;
		padding: 1rem 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		justify-items: flex-end;
	}
    .navItem {
        padding: 1rem;
        background: #fbb;
        border-radius: 5px;
    }
}

/* under 600px */
@media (max-width: 600px) {
    .navButton {
        display: block;
        background: #fbb;
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem;
    }
	.navBar {
		display: none;
	}
    .navItemActive {
        background: #f00;
        display: block;
        width: 90%;
        margin: 0.5rem 0;
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .navBarActive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 0;
        padding: 1rem 0;
        width: 60vw;
        height: auto;
        margin-bottom: 10vh;
        background: #fbb;
        position: absolute;
        left: 40vw;
        z-index: 1;
        border-radius: 5px;
    }
}




