.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex: 1;
}

.eventHeadAndFilters {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* events grid styling */
.eventsGrid {
  display: grid;
  gap: 1rem;
  }

@media (min-width: 500px) {
  .eventsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main {
    width: 70vw;
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .main {
    padding: 2rem;
  }
  .eventsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .main {
    padding: 3rem;
  }
  .eventsGrid {
    grid-template-columns: repeat(4, 1fr);

  }
}

