.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.home {
  width: 90vw;
  max-width: 1500px;
}

/* hero styling */
.hero {
  width: 100vw;
  height: 10vh;
  border: 1px solid red;
}


/* events grid styling */
.eventsGrid {
  display: grid;
  gap: 1rem;
  }

@media (min-width: 500px) {
  .eventsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .main {
    padding: 2rem;
  }
  .eventsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .main {
    padding: 3rem;
  }
  .eventsGrid {
    grid-template-columns: repeat(4, 1fr);

  }
}

