


.location {
	display: flex;
	flex-direction: column;
}

.locationSummary {
	background-color: hsla(273, 56%, 50%, 1);
	border: 1px solid hsla(45, 84%, 75%, 1);
	border-radius: 5px;
	padding: 1rem;
	max-width: 600px;
	width: 80vw;
	margin: 1rem auto;
}


.locationTitle {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.locationText,
.locationTextLabel {
	font-size: 1.4rem;
	line-height: 1.5rem;
	overflow-wrap: break-word;
	margin: 0.5rem 0;
}

.locationTextLabel {
	font-size: 1.6rem;
	font-weight: bold;
}

.locationFooter{
	display: flex;
	justify-content: space-around;
	font-size: 0.8rem;
	align-self: flex-end;
	flex-wrap: wrap;
	padding-bottom: 0.6rem;
}
.footerText {
	flex-basis: 100%;
	text-align: center;
}
.footerButtons {
	border-radius: 5px;
	border: 1px solid hsla(45, 84%, 75%, 1);
	background-color: hsla(273, 56%, 40%, 1);
	cursor: pointer;
	padding: 0.4rem;
	color: inherit;
	margin-bottom: 0.6rem;
}

.footerButtons:hover {
	background-color: hsla(273, 56%, 30%, 1);
}
.footerButtons:active {
	background-color: hsla(273, 56%, 20%, 1);
}

@media (min-width: 600px) {
	.locationContainer {
		display: flex;
		margin: 0 1rem;
		gap: 1rem;
	}
	.locationFooter {
		justify-content: space around;
		width: 100%;
	}
	.footerText {
		flex-basis: auto;
		line-height: 2rem;
	}
};

